{% load url from future %}
<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="{% url 'home' %}" class="brand" href="#">Inventory</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>

        {% if user.is_authenticated %}
        <form class="navbar-form pull-right" action="{% url 'auth_logout' %}" method="get">
          <button type="submit" class="btn">Logout</button>
        </form>
        <ul class="nav pull-right">
          <li><a>Logged in as {{ user.username }}</a></li>
        </ul>
        {% else %}

        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>