/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.btn-default {
  color: #000000;
}

.btn-toolbar {
  font-size: 1em;
}

/* Forms */
.form-widget {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-create input[type="text"],
.form-create input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* table */

.table tbody tr.selected td,
.table tbody tr.selected th {
  background-color: #ffff66;
  color: black;
}

.table tbody tr.selected:hover td,
.table tbody tr.selected:hover th {
  background-color: #ffff66 !important;
  color: black;
}

.table-striped tbody tr.selected:nth-child(odd) td,
.table-striped tbody tr.selected:nth-child(odd) th {
  background-color: #ffff66;
  color: black;
}

/* Datatables + bootstrap */
div.DTTT .btn {
  font-size: 14px;
}

div.DTTT .btn:hover {
  text-decoration: none !important;
}


/* YADCF (column filters) */
select.yadcf-filter {
  width: 100%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}  

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list
}