{% extends "base.html" %}
{% block content %}
<h1 class="page-title center">{{ device.name }}</h1>
<h2 style="color:{{ device.get_status_color }}"class="center">{{ device.get_verbose_status }}</h2>

<dl id="id-device_info" class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ device.name }}</dd>
    <dt>Last updated</dt>
    <dd>{{ device.updated_at }}</dd>
    <dt>Status</dt>
    <dd style="color:{{ device.get_status_color }}">{{ device.get_verbose_status }}</dd>
    <dt>Condition</dt>
    <dd>{{ device.get_condition_display }}</dd>
    <dt>Description</dt>
    {% if device.description %}
    <dd>{{ device.description }}</dd>   
    {% else %}
    <dd>-----</dd> 
    {% endif %}
    {% if device.responsible_party %}
    <dt>Responsible party</dt>
    <dd>{{ device.responsible_party }}</dd>  
    {% endif %}
    <dt>Make</dt>
    <dd>{{ device.make }}</dd>
    <dt>Serial</dt>
    {% if device.serial_number %}
    <dd>{{ device.serial_number }}</dd>
    {% else %}
    <dd>-----</dd>
    {% endif %}
    <dt>Purchased at</dt>
    <dd>{{ device.purchased_at }}</dd>
</dl>

<h3>Check-in Comments</h3>
<ul>
    
{% for comment in comments %}
    {# Comment text #}
    <li data-id="{{ comment.pk }}">{{ comment.text }} 
        {# Comment info #}
        <div class="muted">
            
        ({{ comment.created_at }} by 
            <a href="mailto:{{ comment.user.username }}">{{ comment.user.username }}</a>)
        </div>
        {% if request.user == comment.user %}
            {# TODO: url should correspond to device class #}
            <a href="{{ comment.edit_url }}"><i class="icon-pencil"></i>Edit</a>    
            <a id="id-comment_delete" href="#"><i class="icon-remove"></i>Delete</a>
        {% endif %}
    </li>    
{% endfor %}
</ul>
{% endblock content %}
{% block scripts %}

<script src="{{ STATIC_URL }}/js/detail.js"></script>

{% endblock scripts %}