{% extends "base.html" %}
{% load url from future %}
{% block content_class %}container{% endblock content_class %}
{% block content %}
<h1 class="page-title center">Devices</h1>
<div class="btn-toolbar">
  {% if user.is_authenticated %}
  {% if user.is_superuser %}
  <h2>Admin actions</h2>    
  {% endif %}
  {% if perms.devices.add_device %}
  <a href="{% url 'devices:add' %}" class="btn btn-primary">
    <i class="icon-plus icon-white"></i>
    Add device    
  </a>
  {% endif %}
  {% if perms.user.add_user %}
  <a href="{% url 'users:create_user' %}" class="btn">
    <i class="icon-plus"></i>
    Create user    
  </a>    
  {% endif %}
  
  {% if all_devices.count %}  
  <form method="post" id="device_control" action="">
    {% csrf_token %}
    <label><span class="action-label">Device Action:</span></label>
      <select name="action">
        <option value="" selected="selected">---------</option>
        {% if perms.devices.can_change_device_status %}
        <option value="checkout_selected">Check OUT</option>
        <option value="checkin_selected">Check IN</option>
        {% endif %}
        {% if perms.devices.can_update_device_attributes %}
        <option value="update_selected">EDIT selected</option>          
        {% endif %}
        {% if perms.devices.delete_device %}
        <option value="delete_selected">DELETE selected</option>   
        {% endif %}
      </select>

    </label>
    <input type="submit" name="_save" class="default btn" value="Go"/>
  </div><!-- end btn-toolbar -->
  <table class='table table-striped'>
    <thead>
      <th>Select</th>
      <th>Name</th>
      <th>Status</th>
      <th>Lent to</th>
      <th>Lender</th>
      <th>Serial number</th>
      <th>Condition</th>
    </thead>
    <tbody>
    {% for device in all_devices %}
      <tr>   
        <td><input type="checkbox" value="{{ device.pk }}" name='device_select' id="select_device{{ device.pk }}"></td>
        <td>{{ device.name }}</td>
        <td>{{ device.get_status_display }}</td>
        <td>
          {% if device.lendee %}
          {{ device.lendee.get_last_name_first }}
          {% else %}
          -----
          {% endif %}
        </td>
        {# The Lender is a user, so need to get the last name and first name attributes "manually" #}
        <td>
          {% if device.lender %}
          {{ device.lender.last_name }}, &nbsp;{{ device.lender.first_name }}
          {% else %}
          -----  
          {% endif %}
        </td> 
        <td>{{ device.serial_number }}</td>
        <td>{{ device.get_condition_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
{% else %}
<h2>No devices</h2>
{% endif %}
{% endif %}
<script>
  // Show confirmation dialog before deleting devices
  $("#device_control").submit(function() {
    if ($("select[name='action']").val() == "delete_selected") {
        var c = confirm("Are you sure you want to delete the selected devices?");
        return c;
    }
});
</script>
{% endblock content %}