{% extends "base.html" %}
{% load url from future %}
{% block content_class %}container{% endblock content_class %}
{% block content %}
<h1 class="page-title center">Devices</h1>
<div class="btn-toolbar">
  {% if user.is_authenticated %}

{# Only show device actions for admins and experimenters #}
{% if perms.user.can_update_device_attributes %}
  <h2>iPads</h2>
{% endif %}
  
  {% if all_devices.count %}  
  <table id="id_devices_table" class='table table-striped'>
    <thead>
      <th>Name</th>
      <th></th> {# Status #}
      <th>Lent to</th>
      <th>Lender</th>
      <th>Serial number</th>
      <th></th> {# Condition #}
      <th>Updated at</th>
    </thead>
    <tbody>
    {% for device in all_devices %}
      <tr data-id="{{ device.pk }}" data-type="{{ device.get_cname }}">   
        {# <td><input type="checkbox" value="{{ device.pk }}" name='device_select' id="select_device{{ device.pk }}"></td> #}
        <td>{{ device.name }}</td>
        <td style="color:{{ device.get_status_color }}">
          {{ device.get_status_display }}
        </td>
        <td>
          {% if device.lendee.user %}
          {{ device.lendee.get_last_name_first }}
          {% elif device.lendee.subject %}
          Subject: {{ device.lendee.subject.subject_id }}
          {% else %}
          -----
          {% endif %}
        </td>
        {# The Lender is a user, so need to get the last name and first name attributes "manually" #}
        <td>
          {% if device.lender %}
          {{ device.lender.last_name }}, &nbsp;{{ device.lender.first_name }}
          {% else %}
          -----  
          {% endif %}
        </td> 
        <td>{{ device.serial_number }}</td>
        <td>{{ device.get_condition_display }}</td>
        <td>{{ device.updated_at|date:"SHORT_DATETIME_FORMAT" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<h3>No devices</h3>
{% endif %}
{% endif %}
  {% if user.is_superuser %}
  <h2>Admin actions</h2>    
  {% endif %}
  {% if perms.devices.add_device %}
  <a href="{% url 'devices:add' %}" class="btn btn-default">
    <i class="icon-plus icon-white"></i>
    Add device    
  </a>
  {% endif %}

  {% if perms.user.add_user %}
  <a href="{% url 'users:create_user' %}" class="btn btn-default">
    <i class="icon-user"></i>
    Create user    
  </a>
  {% if perms.devices.remove_device %}
    <a href="#" id="id_delete_btn" class="btn btn-danger">
    <i class="icon-trash"></i>
    Delete device
  </a>      
    {% endif %}  
  <hr> 
  {% endif %}
{% endblock content %}

{% block scripts %}

{# Datatables initialization #}
{% if perms.user.can_update_device_attributes %}
<script src="{{ STATIC_URL }}/js/datatables_init.js"></script>
{% endif %}
{% endblock scripts %}